In [1]:
import pandas as pd

In [19]:
# File to Load (Remember to change these)
data_to_load = "vine.csv"
# Read the Vine Data
vine_data_df = pd.read_csv(data_to_load)

In [20]:
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5.0,0.0,0.0,N,Y
1,RF0D1LEIF6L7,4.0,0.0,0.0,N,Y
2,RM6YKIWQVNSY,1.0,6.0,6.0,N,Y
3,R1RL3L68ASPS36,4.0,0.0,0.0,N,Y
4,R1U4XFBFAG34CY,5.0,0.0,0.0,N,Y

In [24]:
vine_data_2_df = vine_data_df.loc[(vine_data_df['total_votes'] >= 20)]
vine_data_2_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
329,R39BVCCVPRV6F5,5.0,10.0,22.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y

In [31]:
vine_data_helpful_df = vine_data_2_df.loc[(vine_data_2_df['helpful_votes'])/(vine_data_2_df['total_votes']) > .5]
vine_data_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1.0,39.0,45.0,N,N

In [34]:
vine_data_helpful_Y_df = vine_data_helpful_df.loc[(vine_data_helpful_df["vine"]=="Y")]
vine_data_helpful_Y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9436,R3QIQRG107AP19,5.0,38.0,41.0,Y,N
14472,R1ZNBHGCYE8VN1,5.0,175.0,181.0,Y,N
25527,R1BNZJ9IKGRBC2,4.0,63.0,70.0,Y,N
90707,R2IXTN4PBRHBO2,5.0,19.0,24.0,Y,N
93535,R32AOW3L09SYMQ,5.0,29.0,34.0,Y,N

In [35]:
vine_data_helpful_N_df = vine_data_helpful_df.loc[(vine_data_helpful_df["vine"]=="N")]
vine_data_helpful_N_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1.0,39.0,45.0,N,N

In [43]:
#Determine the total number of reviews - Vine = "Yes"
number_of_reviews_Y = vine_data_helpful_Y_df.count()["review_id"]
number_of_reviews_Y

285

In [44]:
#Determine the number of 5-star reviews - Vine = "Yes"
number_5_star_Y = vine_data_helpful_Y_df[(vine_data_helpful_Y_df["star_rating"] == 5)].count()["review_id"]
number_5_star_Y

163

In [45]:
#Determine the percentage of 5-star reviews - Vine = "Yes"
percentage_5_star_Y = number_5_star_Y / number_of_reviews_Y
percentage_5_star_Y

0.5719298245614035

In [46]:
#Determine the total number of reviews - Vine = "No"
number_of_reviews_N = vine_data_helpful_N_df.count()["review_id"]
number_of_reviews_N

31452

In [47]:
#Determine the number of 5-star reviews - Vine = "No"
number_5_star_N = vine_data_helpful_N_df[(vine_data_helpful_N_df["star_rating"] == 5)].count()["review_id"]
number_5_star_N

14603

In [48]:
#Determine the percentage of 5-star reviews - Vine = "Nos"
percentage_5_star_N = number_5_star_N / number_of_reviews_N
percentage_5_star_N

0.46429479842299376